 @import "tailwindcss";
 @plugin "daisyui" {
   theme:business --default
 }
 
body{
  @apply bg-[#1a191d]
}

.login-bg{

  background-image: url('/src/assets/login.png');
  @apply bg-cover 


  
}

.bg-banner{
  background-image: url('/src/assets/banner.jpg');
  @apply bg-cover
}



